ng-sidebar-container{
    height: 100vh;
    font: 400 1em/1.25 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}
::ng-deep .ng-sidebar{
    background-color:#f6f6f6;
    width: 200px;
    padding: 2em,3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.menu{
    margin-top: 2em;
    display: block;
}
.menu li {
    margin-bottom: 15px;
    list-style-type: none;
}
.menu li a {
    display: block;
    widht:100%;
}